{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Простая HTML-страница</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background-image: url('{% static "images/halftone-background-with-circles_23-2148907689.avif" %}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    header, main, footer {
      position: relative;
      z-index: 1;
    }
  </style>
</head>
<body>
  <header>
    <!-- Здесь может быть логотип или навигационное меню -->
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <!-- Здесь может быть информация об авторских правах, ссылки и т.д. -->
  </footer>
</body>
</html>
